/***** BASE STYLES *****/

html {
  margin: 0 auto;
  max-width: 1280px;
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
}

/***** GRID *****/

.full-width {
  width: 100%;
}

.half-width {
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .half-width {
    float: left;
    margin-bottom: 100px;
    width: 50%;
  }
}

.third-width {
  border: 1px dotted #dedbdc;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .third-width {
    float: left;
    min-height: 255px;
    width: 33.1%;
  }
}

@media only screen and (min-width: 1000px) {
  .third-width {
    min-height: 195px;
  }
}

/***** HEADER SECTION *****/

header {
  padding: 50px 20px 10px 20px;
  margin: 0 auto;
}

#color-font {
  color: #77a466;
}

h1 {
  text-align: center;
  margin: 0 auto;
}

@media only screen and (min-width: 800px) {
  h1 {
    text-align: left;
  }
}

h1,
header ul li {
  text-transform: uppercase;
}

header ul {
  list-style: none;
  padding-left: 0;
}

header ul li {
  display: block;
  font-size: 14px;
  margin-bottom: 12px;
  text-align: center;
}

@media only screen and (min-width: 800px) {
  header ul li {
    display: inline-block;
    margin-bottom: 0;
    padding-left: 20px;
  }
}

header nav ul li a {
  color: #80aa70;
  text-decoration: none;
}

/***** Banner *****/

@media only screen and (min-width: 800px) {
  #banner {
    margin: 0 20px;
  }
}

#banner img {
  border: 3px groove #77a466;
  width: 100%;
  max-width: 1220px;
}

/***** ABOUT *****/

#about {
  margin: 20px 20px 55px;
}

#about h2 {
  color: #77a466;
  font-size: 18px;
  line-height: 23px;
  text-align: left;
  text-transform: uppercase;
}

#about p {
  text-align: left;
}

@media only screen and (min-width: 800px) {
  #about p {
    padding-left: 30px;
  }
}

/***** INFO *****/

#info {
  margin: 0 20px;
}

#info ul {
  list-style: none;
}

#info ul li {
  color: #77a466;
  font-size: 16px;
  line-height: 18px;
}

#info h3 {
  font-size: 12px;
}

#info p {
  padding-right: 5px;
}

#info h3,
#info p,
#info ul {
  padding-left: 30px;
  text-align: left;
}

/***** Footer *****/

#footer {
  clear: both;
  margin: 0 20px;
  padding-top: 20px;
  font-size: 16px;
}

@media only screen and (min-width: 800px) {
  #footer {
    padding: 20px;
  }
}

#footer .phrase {
  text-transform: uppercase;
  text-align: center;
}

@media only screen and (max-width: 799px) {
  #footer .phrase {
    margin: 20px auto;
    max-width: 325px;
  }
}

#footer .phrase span {
  color: green;
  font-family: "Pacifico", cursive;
  font-weight: lighter;
  text-transform: lowercase;
}
